In [37]:
import numpy as np
import pandas as pd

In [53]:
rr= pd.read_csv('Real_Estate_Sales_2001-2020_GL.csv')
rr

/var/folders/c8/jxx1plc12tgdhzjqvzbjl_mw0000gn/T/ipykernel_12023/4143501298.py:1: DtypeWarning: Columns (8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  rr= pd.read_csv('Real_Estate_Sales_2001-2020_GL.csv')

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.463000,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo,NaN,NaN,NaN,NaN
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997208,190272,2019,06/24/2020,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family,14 - Foreclosure,NaN,NaN,NaN
997209,190284,2019,11/27/2019,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family,25 - Other,PRIVATE SALE,NaN,NaN
997210,190129,2019,04/27/2020,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family,NaN,NaN,NaN,NaN
997211,190504,2019,06/03/2020,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family,NaN,NaN,NaN,NaN
997212,190344,2019,12/20/2019,Milford,250 RESEARCH DR,4035970.0,7450000.0,0.541700,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
rr.drop_duplicates()

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.463000,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo,NaN,NaN,NaN,NaN
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997208,190272,2019,06/24/2020,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family,14 - Foreclosure,NaN,NaN,NaN
997209,190284,2019,11/27/2019,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family,25 - Other,PRIVATE SALE,NaN,NaN
997210,190129,2019,04/27/2020,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family,NaN,NaN,NaN,NaN
997211,190504,2019,06/03/2020,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family,NaN,NaN,NaN,NaN
997212,190344,2019,12/20/2019,Milford,250 RESEARCH DR,4035970.0,7450000.0,0.541700,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
rr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997213 entries, 0 to 997212
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Serial Number     997213 non-null  int64
 1   List Year         997213 non-null  int64
 2   Date Recorded     997211 non-null  object
 3   Town              997213 non-null  object
 4   Address           997162 non-null  object
 5   Assessed Value    997213 non-null  float64
 6   Sale Amount       997213 non-null  float64
 7   Sales Ratio       997213 non-null  float64
 8   Property Type     614767 non-null  object
 9   Residential Type  608904 non-null  object
 10  Non Use Code      289681 non-null  object
 11  Assessor Remarks  149864 non-null  object
 12  OPM remarks       9934 non-null    object
 13  Location          197697 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 106.5+ MB

In [56]:
rr.describe()

,Serial Number,List Year,Assessed Value,Sale Amount,Sales Ratio
count,9.972130e+05,997213.000000,9.972130e+05,9.972130e+05,9.972130e+05
mean,4.311864e+05,2010.189829,2.791437e+05,3.911512e+05,1.044637e+01
std,6.549219e+06,6.237877,1.670610e+06,5.347270e+06,1.890192e+03
min,0.000000e+00,2001.000000,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.044400e+04,2004.000000,8.760000e+04,1.400000e+05,4.867000e-01
50%,7.030300e+04,2010.000000,1.383900e+05,2.250000e+05,6.246000e-01
75%,1.518780e+05,2016.000000,2.255600e+05,3.650000e+05,7.852761e-01
max,2.000500e+09,2020.000000,8.815100e+08,5.000000e+09,1.226420e+06

In [57]:
rr[rr['Town'] == '***Unknown***']

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
444657,70086,2007,12/18/2007,***Unknown***,18 MATHIEU LANE,66540.0,282450.0,0.235582,Single Family,Single Family,07 - Change in Property,NaN,NaN,NaN

In [58]:
rr.drop(index=444657, axis=0)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.463000,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo,NaN,NaN,NaN,NaN
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997208,190272,2019,06/24/2020,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family,14 - Foreclosure,NaN,NaN,NaN
997209,190284,2019,11/27/2019,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family,25 - Other,PRIVATE SALE,NaN,NaN
997210,190129,2019,04/27/2020,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family,NaN,NaN,NaN,NaN
997211,190504,2019,06/03/2020,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family,NaN,NaN,NaN,NaN
997212,190344,2019,12/20/2019,Milford,250 RESEARCH DR,4035970.0,7450000.0,0.541700,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
rr.drop(['Non Use Code','Assessor Remarks','OPM remarks','Location'],axis=1, inplace=True)

In [61]:
rr

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.463000,Commercial,NaN
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family
...,...,...,...,...,...,...,...,...,...,...
997208,190272,2019,06/24/2020,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family
997209,190284,2019,11/27/2019,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family
997210,190129,2019,04/27/2020,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family
997211,190504,2019,06/03/2020,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family
997212,190344,2019,12/20/2019,Milford,250 RESEARCH DR,4035970.0,7450000.0,0.541700,NaN,NaN

In [63]:
rr.dropna(axis=0, inplace=True)

In [64]:
rr

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family
2,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo
3,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family
4,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family
5,200109,2020,12/09/2020,Avon,57 FAR HILLS DRIVE,847520.0,1250000.0,0.678000,Residential,Single Family
...,...,...,...,...,...,...,...,...,...,...
997207,190272,2019,08/03/2020,Wilton,145 WHIPSTICK RD,681870.0,1134708.0,0.600900,Single Family,Single Family
997208,190272,2019,06/24/2020,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family
997209,190284,2019,11/27/2019,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family
997210,190129,2019,04/27/2020,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family
997211,190504,2019,06/03/2020,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family

In [66]:
rr.reset_index(drop=True)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
0,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family
1,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo
2,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family
3,200377,2020,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.0,1447500.0,0.595700,Residential,Single Family
4,200109,2020,12/09/2020,Avon,57 FAR HILLS DRIVE,847520.0,1250000.0,0.678000,Residential,Single Family
...,...,...,...,...,...,...,...,...,...,...
608895,190272,2019,08/03/2020,Wilton,145 WHIPSTICK RD,681870.0,1134708.0,0.600900,Single Family,Single Family
608896,190272,2019,06/24/2020,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family
608897,190284,2019,11/27/2019,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family
608898,190129,2019,04/27/2020,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family
608899,190504,2019,06/03/2020,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family

* Finding the total sales by Residential Type

In [67]:
rr['Residential Type'].unique()

array(['Single Family', 'Condo', 'Two Family', 'Three Family',
       'Four Family'], dtype=object)

In [68]:
rr.groupby('Residential Type')['Sale Amount'].sum().sort_values(ascending=False)

Residential Type
Single Family    1.783574e+11
Condo            3.265330e+10
Two Family       6.127529e+09
Three Family     2.868236e+09
Four Family      7.615052e+08
Name: Sale Amount, dtype: float64

* Generate a new table that sort your data using column Sales Ratio from the highest to the minimum

In [69]:
dd=rr.sort_values('Sales Ratio', ascending=False)

In [70]:
dd

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
421304,60043,2006,03/19/2007,Salisbury,209 MAIN ST,1226420.0,1.0,1226420.0,Single Family,Single Family
424013,60190,2006,03/02/2007,Newtown,17 WHITEWOOD RD,473780.0,1.0,473780.0,Single Family,Single Family
425795,60213,2006,03/29/2007,Newtown,206 BERKSHIRE RD,305910.0,1.0,305910.0,Single Family,Single Family
893093,180020,2018,10/29/2018,Beacon Falls,146 MUNSON ROAD,241910.0,1.0,241910.0,Single Family,Single Family
422591,60442,2006,09/14/2007,Guilford,1394 LITTLE MDW RD,198960.0,1.0,198960.0,Single Family,Single Family
...,...,...,...,...,...,...,...,...,...,...
15897,200128,2020,10/26/2020,Danbury,8 OAK LANE,0.0,115995.0,0.0,Residential,Single Family
707230,140064,2014,05/21/2015,Beacon Falls,52 FIELDSTONE LN,0.0,504232.0,0.0,Condo,Condo
631071,120108,2012,05/24/2013,Griswold,LOT 61 PACHAUG MARINA & CAMPGR,0.0,40000.0,0.0,Single Family,Single Family
395268,60106,2006,03/01/2007,East Windsor,20 PINE ST,0.0,5000.0,0.0,Single Family,Single Family
920925,180185,2018,06/21/2019,Ellington,3 ASHLEY WAY,0.0,425512.0,0.0,Condo,Condo

* Find the first 10 Sales with the highest amount in a dataframe

In [26]:
rr.sort_values('Sale Amount', ascending=False).head(10)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
60894,20200078,2020,07/06/2021,Willington,224 RIVER ROAD,223070.0,318790019.0,0.000700,Residential,Single Family
65620,20200102,2020,09/28/2021,Willington,7 TOLLAND TURNPIKE ROAD,112040.0,194149073.0,0.000577,Residential,Three Family
957543,191094,2019,08/12/2020,Norwalk,33 ORCHARD ST,507580.0,157000000.0,0.003200,Four Family,Four Family
655816,130446,2013,04/11/2014,Greenwich,499 INDIAN FIELD ROAD,15025570.0,120000000.0,0.125213,Single Family,Single Family
47039,2000802,2020,01/15/2021,Stamford,93 GLENBROOK ROAD #212,126770.0,72000000.0,0.001700,Residential,Condo
34836,2000813,2020,01/15/2021,Stamford,93 GLENBROOK ROAD #201,124390.0,72000000.0,0.001700,Residential,Condo
45129,2000796,2020,01/15/2021,Stamford,93 GLENBROOK ROAD #97,151000.0,72000000.0,0.002097,Residential,Condo
30399,2000810,2020,01/15/2021,Stamford,93 GLENBROOK ROAD #105,111750.0,72000000.0,0.001500,Residential,Condo
44648,2000818,2020,01/15/2021,Stamford,93 GLENBROOK ROAD #206,111800.0,72000000.0,0.001500,Residential,Condo
39028,2000812,2020,01/15/2021,Stamford,93 GLENBROOK ROAD #107,173990.0,72000000.0,0.002400,Residential,Condo

* Return the min, the max and the total sales of Estate

In [28]:
rr['Sale Amount'].min()

0.0

In [29]:
rr['Sale Amount'].max()

318790019.0

In [30]:
rr['Sale Amount'].sum()

220767975970.26

* Congratulations on your new job as a data analyst in a Real Estate company, we realize that as years goes by, we are begining to experience..changes in our sales, can you draw a conclusion for your new employer, the effect of time on the company sales?

In [31]:
rr.groupby('List Year')['Sale Amount'].sum().sort_values(ascending=False)

List Year
2020    2.911034e+10
2019    2.043337e+10
2006    1.851432e+10
2016    1.789911e+10
2014    1.565758e+10
2018    1.471580e+10
2017    1.448117e+10
2009    1.323151e+10
2007    1.236078e+10
2015    1.217800e+10
2013    1.211541e+10
2012    1.183023e+10
2011    1.015721e+10
2008    9.051819e+09
2010    9.031316e+09
Name: Sale Amount, dtype: float64

In [51]:
# rr['profit']= rr['Sale Amount']- rr['Assessed Value']
x = rr[rr['profit'] < 0]
x

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location,profit
2552,200209,2020,05/03/2021,Colchester,28 PHOENIX RD,19300.0,10000.0,1.930000,Residential,Single Family,25 - Other,MOBILE HOME,RATIO - NO MLS,POINT (-72.40695 41.57147),-9300.0
5894,200525,2020,01/25/2021,Danbury,19 RIDGECREST RD,326400.0,173000.0,1.886705,Residential,Single Family,25 - Other,F08026,SEE #200526 FOR CORRECT SALE DATA,POINT (-73.48545 41.42587),-153400.0
9853,200901,2020,05/04/2021,Danbury,50 BOULEVARD DR,131100.0,78000.0,1.680769,Residential,Single Family,25 - Other,RATIO TOO HIGH / D16053,NO MLS,POINT (-73.50591 41.38325),-53100.0
13928,20524,2020,05/07/2021,East Hartford,57 SHAWNEE RD,16290.0,10000.0,1.629000,Residential,Condo,25 - Other,MOBILE HOME,"PREVIOUS SALE 6/19/2019 FOR $20,000",POINT (-72.63553 41.7366),-6290.0
42703,200672,2020,12/29/2020,Norwalk,3 TOILSOME AVE,283620.0,265000.0,1.070264,Residential,Single Family,25 - Other,5-26-89-0,"SOLD BY TWO PART INTEREST DEEDS OF $132,500 EACH",POINT (-73.4045 41.13894),-18620.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976975,19023,2019,10/18/2019,Montville,16 LAUREL DR,104650.0,102000.0,1.025980,Single Family,Single Family,25 - Other,SALES RATIO,PER MLS SOLD AS IS - NEEDS COMPLETE RENOVATION...,POINT (-72.20071 41.44768),-2650.0
980125,190340,2019,06/18/2020,Trumbull,99 UNITY RD,194670.0,190000.0,1.024579,Single Family,Single Family,25 - Other,UNKNOWN REASON,ESTATE SALE - NO MLS,POINT (-73.16295 41.2413),-4670.0
988393,190349,2019,08/17/2020,New London,91 WEST ST,73640.0,68000.0,1.082941,Single Family,Single Family,25 - Other,RATIO,NEEDS RENOVATION PER MLS - SOLD AS IS - CASH S...,POINT (-72.1084 41.36121),-5640.0
988666,190101,2019,06/17/2020,Westbrook,181 HAMMOCK RD N,69790.0,35000.0,1.994000,Single Family,Single Family,25 - Other,"RANCH, LOC/RR/S&S",PER MLS LOOKING FOR CASH OFFER AS HOUSE NEEDS ...,POINT (-72.46828 41.2832),-34790.0
993143,190342,2019,01/06/2020,Norwalk,27 MARLIN DR,263830.0,205000.0,1.286976,Single Family,Single Family,25 - Other,5-58-401-0,PER MLS SOLD AS IS WITH FOUNDATION ISSUES,POINT (-73.43547 41.11261),-58830.0

In [52]:
rr.drop(x)

KeyError: "['Serial Number', 'List Year', 'Date Recorded', 'Town', 'Address', 'Assessed Value', 'Sale Amount', 'Sales Ratio', 'Property Type', 'Residential Type', 'Non Use Code', 'Assessor Remarks', 'OPM remarks', 'Location', 'profit'] not found in axis"

* Kindly advise the company, which town should they stop selling Estate,advise the company, which town should we continue selling our Real Estate

In [32]:
rr.groupby('Town')['Sale Amount'].sum().sort_values(ascending=False)

Town
Greenwich        2.547737e+10
Stamford         1.091565e+10
Westport         8.312977e+09
Fairfield        7.743334e+09
Norwalk          7.413831e+09
                     ...
Eastford         5.807672e+07
Franklin         5.683643e+07
Scotland         5.258923e+07
Union            3.109705e+07
***Unknown***    2.824500e+05
Name: Sale Amount, Length: 170, dtype: float64

* The company should stop selling at Eastford,Franklin,Scotland and Union because of low sales of properties in those Towns
* The company should continue selling at Greenwich,Stamford,Westport,Fairfield and Norwalk because of the high sales of properties in those Towns

We have different properties in our company, which property will you advise us to stop selling and which will you advise us to sell more of it

In [34]:
rr.groupby('Property Type')['Sale Amount'].mean().sort_values(ascending=False)

Property Type
Residential      479356.211359
Single Family    388514.465503
Four Family      314291.035814
Condo            260208.716451
Two Family       199043.662241
Three Family     179844.516208
Name: Sale Amount, dtype: float64

According to the result, it will be advised the company should stop the sale of Two Family and Three Family while the company should sell more of Residential properties